*, *::before, *::after {
  box-sizing: border-box;
}
 
.greed-container {
  --min-column-width: 300px;
  --max-column-width: 1fr;
  --nb-column: 4;
  --grid-gap: 50px;
  --column-width: calc(calc(100% / var(--nb-column)) - calc(var(--grid-gap) * 2));
  --max-column-width: max(var(--min-column-width), var(--column-width));
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--max-column-width), var(--max-column-width)));
  grid-gap: var(--grid-gap);
}
